Django
dateutils
jupyter
pyjwt
django-extensions
gspread
django-bootstrap4
django-bootstrap4-datetimepicker
Pillow
django-admin-list-filter-dropdown
weasyprint
django-filter
gunicorn
django-advanced-filters
graphene-django>=2.0
graphene-permissions
sentry-sdk==0.5.1
django-graphql-jwt
django-cors-headers
esprima
pep8
flake8
pylint
jinja2
django-crispy-forms
django-jinja
autopep8
pywatchman
bootstrap-admin
daphne
channels
psycopg2
django-prometheus
dnspython
PySocks
graphviz
pydotplus
pygraphviz

